*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* impo generali */
body{
    font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
}

.clearfix::after{
    clear: both;
    display: table;
    content: '';
}

.container-center{
    width: 90%;
    margin: 0 auto;
    /* debug */
    /* background-color: red;
    height: 200px; */
}

.container-center.smaller{
    width: 80%;
}

/* impo button */
.btn{
    color: #000;
    font-size: 14px;
    padding: 6px 20px;
    text-decoration: none;
}

.btn.btn-blue{
    background-color: #0d61ff;
    color: #fff;
}

/* header */
header{
    position: fixed;
    width: 100vw;
    max-width: 1280px;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 81px;
    line-height: 81px;
    background-color: #fff;
}

#main-nav{
    height: 100%;
    position: relative;
    padding: 0 20px;
}

.nav-sx{
    width: 50%;
    float: left;
}
.nav-dx{
    width: 50%;
    float: right;
    text-align: end;
}

#logo{
    text-decoration: none;
}
#logo a{
    display: inline-block;
}
#logo img{
    vertical-align: middle;
}

#main-nav ul{
    display: inline-block;
}
#main-nav li{
    display: inline-block;
}
#main-nav li a{
    color: #000;
    font-size: 14px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}


/* sezione jumbotron */
.jumbotron{
    background-color: #b4d0e7;
    min-height: 500px;
    margin-top: 80px;
    /* debug */
    /* height: 500px; */
}

.jumbotron h1{
    color: #000;
    padding: 30px 0;
    font-size: 50px;
    font-family: 700;
}

.col-sx{
    float: left;
    width: 40%;
    padding-right: 40px;
}
.col-sx p{
    margin-bottom: 10px;
}
.col-sx span{
    display: inline-block;
    margin: 10px 0;
}
.col-sx .fa-arrow-down{
    font-size: 40px;
}

.col-dx{
    float: left;
    width: 60%;
}
.col-dx img{
    width: 100%;
}

/* sezione dropbox business prezzi */

#dropbox-business-price{
    margin-top: 100px;
}
.content h2, .radio-box{
    margin: 30px 0;
}

.col-price{
    width: calc(100% / 3 - 40px);
    margin: 30px 20px;
    float: left;
    border: rgb(175, 175, 175) 1px solid;
    /* debug */
    /* background-color: #0d61ff; */
    min-height: 400px;
}

.head-col-price{
    border-bottom: 1px solid rgb(175, 175, 175);
    text-align: center;
    padding: 10px;
}