*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* impo generali */
body{
    font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
}

.clearfix::after{
    clear: both;
    display: table;
    content: '';
}

.container-center{
    width: 90%;
    margin: 0 auto;
    /* debug */
    /* background-color: red;
    height: 200px; */
}

.container-center.smaller{
    width: 80%;
}

hr{
    margin: 20px 0;
    width: 10%;
    color: rgb(175, 175, 175);
}

h2{
    font-size: 35px;
    margin: 35px 0;
}
h4{
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0 15px;
}
h5{
    font-size: 12px;
}



/* effetti on Hover */   
#main-nav li:hover{
    border-bottom: 2px solid #0d61ff;
    text-decoration: none;
}
.btn:hover{
    background-color: rgba(170, 170, 170, .8);
}
.btn.btn-white:hover{
    background-color: rgba(170, 170, 170, .8);
}
.btn.btn.btn-blue:hover{
    opacity: .8;
}

/* impo button */
.btn{
    color: #000;
    font-size: 14px;
    padding: 6px 20px;
    text-decoration: none;
    border: 1px solid rgb(175, 175, 175);
    background-color: #fff;
}

.btn.btn-blue{
    background-color: #0d61ff;
    color: #fff;
    border: none;
}

.btn.btn-white{
    /* background-color: #fff; */
    border: none;
}

/* header */
header{
    position: fixed;
    width: 100%;
    max-width: 1280px;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 81px;
    line-height: 81px;
    background-color: #fff;
}

#main-nav{
    height: 100%;
    position: relative;
    padding: 0 20px;
}

.nav-sx{
    width: 50%;
    float: left;
    padding-right: 100px;
}
.nav-dx{
    width: 50%;
    float: right;
    text-align: end;
    padding-left: 100px;
}

#logo{
    text-decoration: none;
}
#logo img{
    vertical-align: middle;
}

.nav-sx>ul, .nav-dx>ul{
    display: inline-block;
}
.nav-sx>ul>li, .nav-dx>ul>li{
    display: inline-block;
    position: relative;

}
.nav-sx>ul>li>a, .nav-dx>ul>li>a{
    color: #000;
    font-size: 14px;
    /* margin: 10px; */
    padding: 10px 20px;
    text-decoration: none;
}
.hidden-nav>ul{
    list-style: none;
}

.hidden-nav>ul>li{
    color: #000;
    font-size: 14px;
    padding: 4px 10px;
    line-height: 25px;
    text-decoration: none;
}
.hidden-nav a{
    text-decoration: none;
    color: #000;

}
.hidden-nav{
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, .8);
    top: 83px;
    left: 0;
    text-align: center;
    width: 100%;
}
#main-nav li:hover .hidden-nav{
    display: block;
}



/* sezione jumbotron */
.jumbotron{
    min-height: 500px;
    margin-top: 80px;
    /* padding-top: 80px; */
    /* debug */
    /* height: 500px; */
}
.jumbotron>.container-center{
    position: relative;
    bottom: -80px;
}

.bg-azul{
    background-color: #b4d0e7;
}

.jumbotron h1{
    color: #000;
    padding: 30px 0;
    font-size: 50px;
    font-family: 700;
}

.col-sx{
    float: left;
    width: 40%;
    padding-right: 40px;
}
.col-sx p{
    margin-bottom: 10px;
}
.col-sx span{
    display: inline-block;
    margin: 10px 0;
}
.col-sx span>a{
    color: #000;
}

.col-sx .fa-arrow-down{
    font-size: 40px;
}

.col-dx{
    float: left;
    width: 60%;
}
.col-dx img{
    width: 100%;
}

/* sezione dropbox business prezzi */

#dropbox-business-price{
    margin: 100px 0;
}
/* fake radiobox */
.fake-radiobox{
    display: inline-block;
    height: 13px;
    width: 13px;
    border: 3px solid #0d61ff;
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.radiobox-selected{
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fake-radiobox:hover .radiobox-selected{
    background-color: #0d61ff;
    border-radius: 1px solid #fff;
    padding: 1px;
}


.radio-box{
    margin: 30px 0;
    line-height: 22px;
}

.radio-box label{
    margin-right: 20px;
    vertical-align: middle;
}

.col-price{
    margin-top: 35px;
    width: calc(100% / 3 - 40px);
    float: left;
    border: rgb(175, 175, 175) 1px solid;
}

.col-price.middle{
    margin-left: 60px;
    margin-right: 60px;
}

.head-col{
    border-bottom: 1px solid rgb(175, 175, 175);
    text-align: center;
    padding: 10px;
}

.content-col{
    font-size: 11px;
    padding: 10px 25px;
}
.col-price>.content-col{
    min-height: 750px;
}
.content-col>.text-deco{
    margin: 10px 0;
}

.fa-ul>li {
    margin-top: 10px;
}
.fa-ul{
    padding: 10px 0;
    margin-left: 24px;
}
.fa-li {
    text-align: left;
}

.content-col>a{
    margin: 10px 0;
    display: block;
}

.content-col a, .fa-check{
    color: #0d61ff;
}


/* colonna a larghezza intera sotto le 3 collone price */
.col-full{
    margin-top: 30px;
    border: rgb(175, 175, 175) 1px solid;

}
.content-col{
    font-size: 11px;
    padding: 10px 25px;
}    
.float-70{
    width: 70%;
    float: left;
}
.float-30{
    width: 30%;
    float: left;
}
.float-30>a{
    display: block;
    margin-top: 15px;
    text-align: center;
}
.float-70>p{
    margin: 25px 0;
}




/* sezione con 2 colonne flottanti */
.col-floatleft-50{
    float: left;
    width: 50%;
}
/* .col-floatright-50{
    float: right;
    width: 50%;
} */
.col-floatleft-50>img{
    width: 90%;
}

.col-floatleft-50>p{
    line-height: 25px;
    margin: 20px 0;
}


/* sezione 6 item */
.top-item img{
    width: 100%;
}
.bottom-item{
    padding: 8px;
    min-height: 200px;
}
.clearfix.min-h{
    min-height: 600px;
}
.clearfix.min-h>.col-price{
    border: none;
}

/* sezione sotto i 6 item */
.container-center>.half-widh{
    width: 50%;
}

/* sezione carousel */
.bg-gray{
    background-color: #F5F5F5;
}
.carousel-aside{
    float: left;
    width: 30%;
}
.carousel-center{
    float: left; 
    width: 40%;
    padding: 40px;
}
.row{
    min-height: 150px;
}
.row>.col-floatleft-50{
    height: 100%;
    padding-top: 50%;
    position: relative;
}
.row>.col-floatleft-50 img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item-carousel>img{
    width: 25%;
}
.item-text-carousel{
    overflow: scroll;
    max-height: 135px;
}
.item-text-carousel>p{
    margin: 14px 0;
    font-size: 10px;
}


/* classi img svg del carousel */
.change-svg-color {
    filter: invert(93%) sepia(0%) saturate(0%) hue-rotate(280deg) brightness(106%) contrast(106%);
  }
.green-svg{
    background-color: #a2d39b;
    /* border: 8px solid #d0e9cd; */
}
.darkred-svg{
    background-color: #61082b;
}
.red-svg{
    background-color: #d50c1f;
}
.azul-svg{
    background-color: #b4d0e7;
}
.darkazul-svg{
    background-color: #1f93ce;
}
.flashred-svg{
    background-color: #f91b1d;
}
.blue-svg{
    background-color: #0d2381;
}
.yellow-svg{
    background-color: #fdd82f;
}

/* sezione 2 colonne sotto carousel */
#contact{
    padding: 50px 0;
    color: #61082b;
}
#contact a{
    margin: 35px 0;
}


/* sezione accordion */


#accordion{
    margin: 50px 0;
    min-height: 400px;
}
.faq{
    border-top: 2px solid #F5F5F5;
    padding: 20px 0;
    position: relative;
    /* overflow: hidden; */
}
.faq-icon{
    position: absolute;
    right: 15px;
    top: 17px;
}
.faq>h5{
    cursor: pointer;
}

/* accordion effect */
.answer{
    padding: 5px;
    display: none;
}
.faq-icon>i:last-child{
    display: none;
}

.faq:hover .answer{
    display: block;
}
.faq:hover .faq-icon>i:last-child{
    display: block;
}
.faq:hover .faq-icon>i:first-child{
    display: none;
}






/* footer */
footer{
    background-color: #000;
    color: #fff;
    padding: 60px 0 30px;
    font-size: 12px;
    /* min-height: 400px; */
}

.col-footer{
    width: calc( 100% / 5 );
    float: left;
    min-height: 200px;
    /* background-color: #b4d0e7; */
}
.col-footer ul{
    list-style: none;
}
.col-footer li{
    margin-bottom: 5px;
}
.col-footer li a{
    color: #fff;
    text-decoration: none;
}
.col-footer h5{
    font-size: 14px;
    margin: 10px 0;
}

footer div:last-child{
    padding: 20px 0;
}

footer i:last-child{
    padding: 0 10px;
}